body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin-bottom: 80px;
}

header {
    background-color: #FFD700; 
    padding: 30px 25px;
    border-bottom: px solid #2c3e50;
    
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 300px;
  }
  
  .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links ul li {
    margin-right: 20px;
  }
  
  .nav-links ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links ul li a:hover {
    color: #fd0303; 
  }
  
  .signin-btn {
    margin-left: auto;
  }
  
  .btn-signin {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .btn-signin:hover {
    color: #E6A823; 
  }
  

                    /* Hero Section */

  .hero-section {
    position: relative;
    height: 670px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .hero-content {
    text-align: center;
    z-index: 1;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    background-color: #FF6F61; 
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #E74C3C; 
  }
  
  .hero-image {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 36px;
    }
    
    .hero-content p {
      font-size: 20px;
    }
    
    .btn {
      padding: 10px 20px;
    }
  }
  



                  /* Search input field */
.search-bar input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 300px;
  margin-right: 10px;
}


.search-bar button {
  background-color: #FF6F61;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #E74C3C;
}


                        /* Footer*/
  footer {
    background-color: #2c3e50; 
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 8px solid #FFD700; ;
}
  
  .social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #FF6F61; 
  }
  
  .copyright p {
    margin: 0;
    font-size: 14px;
    color: #fff;
  }
  
